{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'academics/css/confirm_delete.css' %}">
{% endblock %}

{% block content %}

<h1 class="ap-title">{{ title }}</h1>


<div class="ap-card-center-wrapper">
    <div class="ap-card">
        
        <p class="ap-text">¿Confirmás eliminar <strong>{{ object }}</strong>?</p>
        
        <div class="ap-actions">
            <form method="post" style="display:inline">{% csrf_token %}
                <button class="ap-btn ap-btn-danger" type="submit">Sí, eliminar</button>
            </form>
            <a class="ap-btn ap-btn-light" href="{{ cancel_url }}">Cancelar</a>
        </div>
    </div>
    
</div>
{% endblock %}