{% load static %}

<header class="navbar">
  <div class="navbar__inner container-narrow">
    <a class="navbar__brand" href="{% url 'academics:home' %}">
      <img class="navbar__logo" src="{% static 'img/logo.png' %}" alt="Pasa la Data UTN">
    </a>

    {% if request.user.is_authenticated %}
      <div class="navbar__right">
        <a class="nav-avatar" href="{% url 'people:perfil' %}" title="Mi perfil">
          {% if request.user.imagen_perfil %}
            <img src="{{ request.user.imagen_perfil.url }}" alt="Foto de perfil">
          {% else %}
            <span class="nav-avatar__fallback">
              {{ request.user.get_short_name|default:request.user.username|slice:":1"|upper }}
            </span>
          {% endif %}
        </a>
      </div>
    {% else %}
      <div class="navbar__right">
        <a class="btn btn-light btn-sm" href="{% url 'people:register' %}">Registrate</a>
        <a class="btn btn-light btn-sm" href="{% url 'people:login' %}">Iniciar sesión</a>
      </div>
    {% endif %}
  </div>
</header>
